.audience {
    background-color: #00a1c612;
    padding: 50px 15px;
    text-align: center;
    @include for-large-up {
        padding: 100px 0 100px;
    }
    &__page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__subtitle {
        font-weight: 700;
        font-size: 22px;
        line-height: 34px;
        text-align: center;
    }
    &__header {
        max-width: 555px;
        margin: 0;
        margin-top: 17px;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.357143px;
        @include for-large-up {
            margin-top: 24px;
            margin-left: 422px;
            font-size: 56px;
            line-height: 56px;
            letter-spacing: -0.5px;
        }
    }
    &__description {
        max-width: 555px;
        margin: 0;
        margin-top: 18px;
        font-size: 24px;
        line-height: 34px;
        @include for-large-up {
            margin-top: 30px;
            margin-left: 422px;
        }
    }
    &__buttons-grup {
        width: 100%;
        max-width: 290px;
        margin-top: 18px;
        @include for-large-up {
            display: flex;
            margin-top: 34px;
            margin-left: 536px;
        }
    }
    &___button {
        width: 100%;
        margin-top: 12px;
    }
    &__item {
        margin: 40px 15px 50px 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
    }
    &__card {
        width: 290px;
        height: 300px;
        margin-top: 15px;
        margin-right: 10px;
        padding-top: 22px;
        padding-bottom: 33px;
        background-color: #fff;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        cursor: pointer;
        &:hover {
            color: #fff;
            background-color: #3141C5;
            &__chek {
                color: #fff;
                background-color: #3141C5;
            }
        }
    }
    &__title {
        margin: 0;
        margin-top: 18px;
        font-size: 22px;
        line-height: 28px;
        font-weight: 700;
    }
}